@mixin logo-text-style {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
}

@mixin title-text-style {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.26;
}

@mixin stay-safe-decor {
    position: absolute;
    background-color: $main-color-maket;
    border-radius: 30px;
}

@mixin healthcare-decor {
    content: "";
    position: absolute;
    background-color: $main-color-maket;
    z-index: -1;
}